<h1>Here's where these would go!</h1>


<% @close_messages.each do |close_message| %>
  <% if Geocoder::Calculations.distance_between(["#{@user.latitude}".to_f,"#{@user.longitude}".to_f], ["#{close_message.latitude}".to_f,"#{close_message.longitude}".to_f]) == 0 || Geocoder::Calculations.distance_between(["#{@user.latitude}".to_f,"#{@user.longitude}".to_f], ["#{close_message.latitude}".to_f,"#{close_message.longitude}".to_f]) < 1 %>

   <p><%= close_message.content %></p>
   <p><%= close_message.latitude %></p>

  <% end %>

<% end %>
