<h1>Collection</h1>

<% @kept_messages.each do |kept_message| %>
  <% if user_signed_in? && current_user.id == kept_message.user_id %>
      <div>
          <p><%= kept_message.message.content %></p>
          <p><%= link_to("Dust", "/kept_messages/#{kept_message.id}", method: :delete) %></p>
      </div>
  <% end %>
<% end %>



