.btn.btn-primary {
  border-color: #47d147;
  margin-right: 15px;
  float: right;
  padding: 3px;
  color: white;
  background-color: #47d147;
  font-size: 10px;
}

.btn.btn-primary:hover {
  font-size: 15px;
  color: #2eb82e;
  background-color: white;
  border-color: white;
  transition-duration: 300ms
}
    
.form-display {
  display: inline;
}